* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    height: 100%;
    margin: 10px;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
        ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color:white;
  }
  
  /* Page Layout */
  
  .wrapper {
    display: flex;
    background-color: white;
  }
  
  .container {
    max-width: 960px;
    margin-top: 25px;
  }

  .titles {
    margin: 10px;
    padding: 0;
  }

  .columns {
    background-color: thistle;
  }


 #mapid { 
    height: 380px; 
    width: 380px;

    }

  .box {
    background-color: thistle;
    width: 450px;
  }

  .search {
    width: 430px;
  }
